* {
    font-family: 'M PLUS 1p', sans-serif;
}

.navbar {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

.logo-name {
    color: #F4F7F5;
    font-weight: 800;
    letter-spacing: -0.01em;
    font-size: 24px;
}

a.nav-link {
    color: #F4F7F5 !important;
    font-weight: 500;
    font-size: 14px;
}

.navbar-nav .nav-link {
    margin-right: 10px;
    margin-left: 10px;
}

.apply {
    margin: -10px 0;
    padding: 10px 0;
    border-radius: 1px;
    height: 100%;
    background: #F4F7F5;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), -2px 0px 4px rgba(0, 0, 0, 0.25);
}

.apply-text {
    color: #DC8643;
    font-weight: 800;
}

.video-background-holder {
    position: relative;
    background-color: black;
    height: calc(100vh - 28px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .apply {
        width: calc(100% + 20px);
        height: 100%;
        margin: 0;
        padding: 0;
        box-shadow: none;
    }
}

.mission-jumbotron * {
    color: white;
}