* {
    font-family: 'M PLUS 1p', sans-serif;
}

html {
    overflow-x: hidden;
}

.navbar {
    transition: all 0.25s ease-out;
}

.navbar.scrolled {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background-color: rgba(220, 133, 67, 0.5)
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

.logo-name {
    color: #F4F7F5;
    font-weight: 800;
    letter-spacing: -0.01em;
    font-size: 20px;
}

a.nav-link {
    color: #f4f7f5 !important;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar-nav .nav-link {
    margin-right: 10px;
    margin-left: 10px;
}

.apply {
    margin: -10px 0;
    padding: 10px 0;
    border-radius: 1px;
    height: 100%;
    background: #F4F7F5;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), -2px 0px 4px rgba(0, 0, 0, 0.25);
}

.apply-text {
    color: #DC8643;
    font-weight: 800;
}

.video-background-holder {
    position: relative;
    background-color: black;
    height: calc(100vh - 15px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.video-background-holder .container {
    position: relative;
    margin-left: 8%;
    margin-top: 4%;
    z-index: 2;
}

.video-background-holder .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .apply {
        width: calc(100% + 20px);
        height: 100%;
        margin: 0;
        padding: 0;
        box-shadow: none;
    }
}

.tagline-box {
    margin-bottom: 10%;
    color: #F4F7F5;
}

.tagline {
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 800;
    font-size: 62px;
    display: flex;
    letter-spacing: -0.05em;
    text-transform: capitalize;
    /* Light Color */
    color: #F4F7F5;
    text-shadow: 2px 4px 25px rgba(0, 0, 0, 0.25);
}

.explore-option {
    border-color: #F4F7F5 !important;
    color: #F4F7F5 !important;
}

.explore-option:hover {
    color: #DC582E !important;
}

.mission-jumbotron * {
    color: #F4F7F5;
}

.mission-jumbotron {
    background: linear-gradient(103.54deg, #DC582E -11.51%, #DCC05D 110.25%);
}

.mission-title {
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 0.015em;
}

.mission-text {
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}

.mission-text-item {
    margin: 0 5px;
}

.icon-bar {
    width: 22px;
    height: 2px;
    background-color: #F4F7F5;
    display: block;
    transition: all 0.2s;
    margin-top: 4px
}

.navbar-toggler {
    border: none;
    background: transparent !important;
}

button:focus {
    outline: 0;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.courses-title {
    font-size: 12px !important;
    color: #DC582E;
    font-weight: 800;
    letter-spacing: -0.015em;
    font-family: Mplus 1p !important;
}

.courses-container {
    margin-top: 10%;
}

.courses-intro {
    font-family: Mplus 1p !important;
    font-weight: 800 !important;
    letter-spacing: -0.01em;
}